<div class="sc-flex-v-stack sc-flex-row-1">
    <div class="sc-flex-h-stack sc-stretch-x">
        <h1 class="sc-stretch-x">Shopping cart</h1>
    </div>
    <div class="sc-flex-h-stack sc-flex-row-1">
        <div class="sc-flex-v-stack saved-carts">
            <button (click)="getEmptyCarts()">Get empty carts</button>
            <button (click)="getRandomCarts()">Get random carts</button>
            <h3>
                Saved carts
            </h3>
            <div *ngFor="let cart of savedCarts()" (click)="selectCart(cart)" class="saved-cart-item">{{cart.name}}</div>
        </div>
        <div class="sc-flex-h-stack sc-flex-row-1">
            <cart *ngFor="let cart of currentCarts()" [cart]="cart" class="sc-flex-col-1 sc-flex-v-stack"></cart>
        </div>
    </div>
</div>