<div class="sc-flex-h-stack">
    <div class="sc-flex-col-1">Shop: {{cart.shop.name}}</div>
    <input class="sc-flex-col-1" placeholder="Enter cart's name" [(ngModel)]="cart.name">

    <button (click)="save()">Save</button>
    <button (click)="setMain()" *ngIf="!isMainCart()">Set as main</button>
    <button (click)="synchronizeCarts()" *ngIf="isMainCart()">Synchronize others</button>
</div>
<product *ngFor="let product of cart.products" [product]="product" class="sc-flex-h-stack"></product>

<div class="cart-total" [ngClass]="{'cart-min': isMin(), 'cart-max': isMax()}">Total: {{total()}}</div>

<input *ngIf="isMainCart()" auto-complete
       [(ngModel)]="newProduct"
       [source]="searchApi()"
       placeholder="Add new product"
       path-to-data=""
       min-chars="2"
       [value-changed]="boundAddItem"
       display-property-name="name"/>