cart {
  padding: 10px;
  min-width: 400px !important;
  overflow-x: visible;
  overflow-y: visible; }
  cart .cart-total {
    margin: 5px 0;
    font-weight: bold; }
    cart .cart-total.cart-max {
      color: #770000; }
    cart .cart-total.cart-min {
      color: #007700; }
