<div *ngIf="!isReplaceMode" class="sc-flex-col-1 sc-flex-v-stack product-description">
    <div class="sc-flex-row-1 sc-flex-h-stack">
        <div class="sc-flex-col-3 ">
            {{product.name}}
        </div>

        <div class="sc-flex-col-1 product-price">
            {{product.price}} nis
        </div>
        <div class="sc-flex-col-1 product-price product-price-units">
            {{getPricePerUnits()}} nis/{{getUnitsAbbr()}}
        </div>
    </div>
    <div class="sc-flex-row-1 sc-flex-h-stack">
        <button (click)="delete()">Delete</button>
        <button (click)="toggleReplace()" *ngIf="isMainCart()">Replace</button>
        <button (click)="toggleReplace()"*ngIf="!isMainCart()">Reassign</button>
    </div>
</div>
<div *ngIf="isReplaceMode" class="sc-overflow-visible sc-flex-col-1 sc-flex-h-stack">
    <div class="product-price">Replace product</div>
    <!--<div>{{getNewProductName()}}</div>-->
    <div class="sc-flex-col-1 sc-flex-h-stack sc-overflow-visible">
        <input class="sc-flex-col-1"  auto-complete
               [(ngModel)]="newProduct"
               [source]="searchApi()"
               placeholder="Find similar product"
               path-to-data=""
               min-chars="2"
               [value-changed]="boundSwapItem"
               display-property-name="name"/>
    </div>
    <button (click)="replace()" *ngIf="isMainCart()">Replace</button>
    <button (click)="replace()" *ngIf="!isMainCart()">Reassign</button>
    <button (click)="toggleReplace()">Cancel</button>
</div>

